
// font sizes 
$default-font-size: 1.6rem;
$article-title: 2rem;
$medium-font-size: 2rem;
$small-font-size: 1.4rem;

// Box Shadow
$light-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
$default-shadow: 0 1rem 2rem rgba(0,0,0,0.2);


$color-white: #FFF;
$color-black: #000;
$light-grey-text: #747474;
$border-blue: #0F52BA;
$error-red: #FF1111;
$light-blue: #1890ff;
$medium-grey: #555;
$dark-grey: #333;
$dark-night: #222;
$midnight-black: #111;
$casual-blue: #4C7D8E;
$space-blue: #1C284E;
$color-air: #EEE;
$dark-leather: #594F4F;
$salute: #262F34;
$star-blue: #222840;
$baby-blue: #3498db;
$commercial-black: #222;
$midnight-blue: #111122;
$card-color: $star-blue;


// display:

$mobile-screen: 800px;
$small-desktop: 1200px;
$mid-desktop: 1800px;