@import '../styles/mixins';
@import '../styles/components';
@import '../styles/variables';
.login-help {
  @include defaultDimensions;
  @include flexCenter;
  height: 80vh;
  article {
    border-radius: 3px;
    z-index: 2;
    background-color: $dark-night;
    padding: 2rem;
    @include flexCenter;
  }
}