@import '../../styles/components';
@import '../../styles/typography';
#test-form {
  display: flex;
  p {
    text-align: left;
    a,
    a::before,
    a::after {
      color: $baby-blue;
    }
  }
}