@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/components";

.report-form {
  button {
    float: right;
  }
  ul {
    li {
      display: flex;
      margin-top: 2rem;
      label {
        margin: 2px 0 0 5px;
        cursor: pointer;
      }
      input {
        cursor: pointer;
      }
    }
  }
}