@import '../styles/mixins';
@import '../styles/variables';
@import '../styles/components';
.reset-password-page {
  @include defaultDimensions;
  @include flexCenter;
  height: 80vh;
  input {
    width: 300px;
    height: 36px;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 1.5rem;
    border: none;
    &:focus {
      outline: solid $medium-grey 2px;
    }
    margin-bottom: 1rem;
  }
  h2 {
    text-align: center;
  }
}