@import '../../styles/variables';
.filter-container {
  position: relative;
  display: inline-block;
}
.filter-list {
  position: absolute;
  background-color: #1A1A1A;
  padding: 1rem;
  display: none;
  z-index: 2;
  li {
    list-style: none;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #1A1A1A;
    border: none;
    width: 100%;
    text-align: center;
    color: $color-white;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    display: block;
    &:hover {
      background-color: #333;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
#filter-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  // background-color: rgb(0,0,0); /* Black w/ opacity */
  // background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  justify-content: center;
  flex-direction: column;
}